*.o
.deps/
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/swisswatch
/swisswatch.1
/swisswatch_resources.c
Makefile
Makefile.in
aclocal.m4
stamp-h1
