Source: swisswatch
Section: x11
Priority: optional
Maintainer:  Roland Stigge <stigge@antcom.de>
Build-Depends: debhelper (>= 7), libx11-dev, libxext-dev, libxmu-dev, libxt-dev, x11proto-core-dev
Standards-Version: 3.8.4

Package: swisswatch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Swiss Railway Clock for the X Window System
 Swisswatch is a clock for the X desktop.  It relies heavily on resources for
 configuration, and can be adjusted to a wide range of looks.  While it can be
 configured completely via resources and provides looks for a Botta (SFMoMA)
 clock style, an oclock emulation and other appearances, it defaults to the
 style of a Swiss Railway Clock.
