#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	dh_auto_build --buildsystem makefile -- -f Makefile.simple

override_dh_auto_clean:
	dh_auto_clean --buildsystem makefile -- -f Makefile.simple

override_dh_install:
	dh_install
	mv $(CURDIR)/debian/swisswatch/etc/X11/app-defaults/SWatch.ad \
	   $(CURDIR)/debian/swisswatch/etc/X11/app-defaults/SwissWatch
	mv $(CURDIR)/debian/swisswatch/etc/X11/app-defaults/SWatch-co.ad \
	   $(CURDIR)/debian/swisswatch/etc/X11/app-defaults/SwissWatch-color
